@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine

<h1>Add a new cuisine of your choise!</h1>
@using(Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add a new cuisine" class="btn btn-default" />
}

<p>@Html.ActionLink("Show All Cuisines", "Index")</p>