@{
    Layout = "_Layout";
}

@using BestRestaurant.Models;
@model List<BestRestaurant.Models.Cuisine>;

<h1>List of Cuisine</h1>
@if(Model.Count == 0)
{
    <h2>No Cuisine has been added yet!</h2>
}

<ul>
@foreach (Cuisine cuisine in Model)
{
    <li>@Html.ActionLink($"{cuisine.Name}", "Details", new {id = cuisine.CuisineId})</li>
}
</ul>

<p>@Html.ActionLink("Add New Cuisine", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Check All Restaurants", "Index", "Restaurants")</p>